@page "/cabinet"
@using CloneHabr.BlazorUI.Pages.Cabinet.ApproveComponents
@using CloneHabr.BlazorUI.Pages.Cabinet.UsersManagement
@inject UserInfo userInfo
@inject IJSRuntime JsRuntime
<PageTitle>ЛК пользователя: @userInfo.LoginName</PageTitle>

<div class="col-lg-8">
    <h2 align="center">Личный кабинет пользователя</h2>
    Ваша роль: @userInfo.Role
    <div class="my-3" style="@(userInfo.IsBanned ? "display:block" : "display:none")">
        Ваш статус: бан
    </div>
    
    <div class="my-3" style="@(!userInfo.IsBanned ? "display:block" : "display:none")">
        Ваш статус: активен
        <div class="my-3">
            <AddNewArticle />
        </div>

        <div class="my-3">
            <EditAccountComponent />
        </div>

        <div class="my-3" style="@((userInfo.Role == Dto.@enum.Roles.Moderator || userInfo.Role == Dto.@enum.Roles.Administrator) ? "display:block" : "display:none")">
            <div class="my-3">
                <UsersContainer />
            </div>
            
            <div class="my-3">
                <ApproveArticlesContainer />
            </div>
        </div>

    </div>

    <div class="my-3">
        <NotificationsContainer></NotificationsContainer>
    </div>

</div>

@code {


}
