
<div style="@(ShowThisComponent ? "display:block" : "display:none")">
    <h4>@articleDto.Name</h4>
    <br />
    Автор: @articleDto.LoginUser, Дата размещения: @articleDto.CreationDate
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="/cabinet" @onclick="OnClickShowHideThisComponent">
        <span class="oi oi-clipboard me-2"></span>Развернуть/свернуть статью
    </NavLink>
</div>

<div style="@(!ShowThisComponent ? "display:block" : "display:none")">
    <ArticleBody articleDto="articleDto" />
</div>

@code {
    [Parameter]
    public ArticleDto articleDto { get; set; } = new();
    bool ShowThisComponent = true;

    private void OnClickShowHideThisComponent()
    {
        ShowThisComponent = !ShowThisComponent;
    }

    protected override void OnParametersSet()
    {
        StateHasChanged();
    }
}
